@import url(//fonts.googleapis.com/css2?family=David+Libre&family=Mate&family=Mate+SC&family=Spline+Sans+Mono&display=swap);
@import url(https://fonts.googleapis.com/css2?family=David+Libre&family=Mate&family=Mate+SC&family=Spline+Sans+Mono&display=swap);

.o-font-head, h3, h5{
    font-family: 'Mate SC', serif;
}

h3 {
    color:#eeeeee;
}
.o-font-plain{
    font-family: 'David Libre', serif;
}
.o-font-mono{
    font-family: 'Spline Sans Mono', monospace;
}
ul{
    padding-left: 0.5em;
}

@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
    background-image:
      radial-gradient(at 0%   0%,   #051637, transparent),
      radial-gradient(at 100% 0%,   #1C2C52, transparent),
      radial-gradient(at 100% 100%, #5C658B, transparent);
    background-attachment: fixed;
    color: #EEEEEE;
}

a {
  color: #EEEEEE;
}

nav {
    border-bottom: 3px solid;
    border-color: #ffffff;
    border-image-source: #ffffff;
    border-image-slice: 1;

    animation: bggradient 20s ease infinite;
    /* Why does not this work? */
}

.nav-border{
    height: 3px;
    width: 100%;
    /* https://webgradients.com */
    animation: bggradient 5s ease infinite;
    background-size: 200% 200%;
}
