/* @import url(//fonts.googleapis.com/css2?family=David+Libre&family=Mate&family=Mate+SC&family=Spline+Sans+Mono&display=swap);
@import url(https://fonts.googleapis.com/css2?family=David+Libre&family=Mate&family=Mate+SC&family=Spline+Sans+Mono&display=swap); */
@import url(//fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap);
/* @import url(fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,90,100..900;1,90,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,90,100..900;1,90,100..900&display=swap); */

/* for japanese */
@import url(//fonts.googleapis.com/css2?family=Klee+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Klee+One&display=swap);

.o-font-head, h3, h5{
    font-family: 'EB Garamond';
}
.o-font-plain{
    font-family: 'EB Garamond', serif;
}
.o-font-mono{
    font-family: 'EB Garamond';
}

.lang-ja{
    font-family: "Klee One", cursive;
}

ul{
    padding-left: 0.5em;
}

@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pos_rotate {
  0% { transform: rotate(60deg); }
  100% { transform: rotate(420deg); }
}
@keyframes neg_rotate {
  0% { transform: rotate(-60deg); }
  100% { transform: rotate(-420deg); }
}

.div-text{
  /* background-color: #FFFFFFB0; */
}

.footer-image > img, .footer-image > div > img{
  position: fixed;
  z-index:  -1;
}

.footer-image {
  --rad: calc(430px + 75px);
  --debug-padding: 0px;
  --debug-rotate: 0deg;
}

@keyframes rotate_move_outer_1 {
  0% { transform: rotate(270deg); }
  100% {transform: rotate(-90deg);}
}
@keyframes rotate_move_outer_2 {
  0% { transform: rotate(150deg); }
  100% {transform: rotate(-210deg);}
}
@keyframes rotate_move_outer_3 {
  0% { transform: rotate(30deg); }
  100% {transform: rotate(-330deg);}
}
@keyframes rotate_move_inner {
  0% { transform: rotate(0deg); }
  100% {transform: rotate(360deg);}
}
.inn_div{
  position: fixed;
  display:  block ;
  z-index:  -1;
  width:    150px;
  height:   150px;
}

#inn1_div{
  animation: rotate_move_outer_1 40s linear infinite;
  transform-origin: var(--rad) center;
  top:    calc(-500px + 600px  - 75px + var(--debug-padding));
  right:  calc(-450px + (600px + 430px) - 75px + var(--debug-padding));
}
#inn1{ animation: rotate_move_inner 5s linear infinite; }

#inn2_div{
  animation: rotate_move_outer_2 40s linear infinite;
  transform-origin: var(--rad) center;
  top:    calc(-500px + 600px  - 75px + var(--debug-padding));
  right:  calc(-450px + (600px + 430px) - 75px + var(--debug-padding));
}
#inn2{ animation: rotate_move_inner 5s linear infinite; }

#inn3_div{
  animation: rotate_move_outer_3 40s linear infinite;
  transform-origin: var(--rad) center;
  top:    calc(-500px + 600px  - 75px + var(--debug-padding));
  right:  calc(-450px + (600px + 430px) - 75px + var(--debug-padding));
}
#inn3{ animation: rotate_move_inner 5s linear infinite; }

.footer-image > img{
  top:      calc(-500px + var(--debug-padding));
  right:    calc(-450px + var(--debug-padding));
}

.footer-image > #orange{
  animation: pos_rotate 80s linear infinite;
}
.footer-image > #yellow{
  animation: neg_rotate 80s linear infinite;
}
.footer-image > #pink1{
  animation: pos_rotate 10s linear infinite;
}
.footer-image > #pink2{
  animation: neg_rotate 10s linear infinite;
}
.footer-image > #gray{
  animation: neg_rotate 40s linear infinite;
  rotate: var(--debug-rotate);
}

.footer-image > #white{
  opacity:  0.95;
}


nav {
    border-bottom: 3px solid;
    border-image-source: linear-gradient(45deg, #fee140, #FF9300, #fa709a);
    border-image-slice: 1;
}
