@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


nav {
    border-image-slice: 1;
    animation: bggradient 20s ease infinite;
}

.nav-border{
    height: 3px;
    width: 100%;
    background: linear-gradient(45deg, #fa709a, #fee140, #fa709a);
    animation: bggradient 5s ease infinite;
    background-size: 200% 200%;
}
