@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


nav {
    border-bottom: 3px solid;
    border-color: red;
    border-image-source: linear-gradient(45deg, #fa709a, #FF9300, #fee140);
    border-image-slice: 1;

    animation: bggradient 20s ease infinite;
    /* Why does not this work? */
}

.nav-border{
    height: 3px;
    width: 100%;
    /* https://webgradients.com */
    background: linear-gradient(45deg, #fa709a, #fee140, #fa709a);
    animation: bggradient 5s ease infinite;
    background-size: 200% 200%;
}
