.flag {
    padding: 0px;
    margin: 0.15em 0.1em;
    height: 1.2em;
    width: 12em;
}


#jp01-b{
    width: 26%;
    background-color: #373B66;
}
#jp01-w{
    width: 3.2%;
    background-color: #FFFFFF;
}
#jp01-r{
    width: 3.2%;
    background-color: #C3373F;
}

#city01202-b{
    width: 17%;
    background-color: #154D7B;
}
#city01202-w{
    width: 5%;
    background-color: #FFFFFF;
}
#city01202-r{
    width: 7%;
    background-color: #881F4E;
}
#city01202-b-c{ /* center */
    width: 2%;
    background-color: #154D7B;
}
#city01202-w-c{ /* center */
    width: 1%;
    background-color: #FFFFFF;
}
#city01202-r-c{ /* center */
    width: 2%;
    background-color: #881F4E;
}

#jp04-g-s{ /* side */
    width: 26.5%;
    background-color: #02594A;
}
#jp04-g-c{ /* center */
    width: 5%;
    background-color: #02594A;
}
#jp04-w{
    width: 8%;
    background-color: #FFFFFF;
}

#city04100-b-s{ /* side */
    width: 26%;
    background-color: #2E0A70;
}
#city04100-b-ms{ /* middle-side */
    width: 12%;
    background-color: #2E0A70;
}
#city04100-b-c{ /* center */
    width: 2%;
    background-color: #2E0A70;
}
#city04100-w{
    width: 4%;
    background-color: #FFFFFF;
}

#jp27-b-s{
    width: 16%;
    background-color: #364C97;
}
#jp27-b-i{ /* Inner-white */
    width: 5%;
    background-color: #364C97;
}
#jp27-b-o{ /* Outer-white */
    width: 10%;
    background-color: #364C97;
}
#jp27-w{
    width: 5.5%;
    background-color: #FFFFFF;
}

#city27220-b-s{ /* Background Side */
    width: 23%;
    background-color: #FFF9D8;
}
#city27220-b-i{ /* Background Inner */
    width: 15%;
    background-color: #FFF9D8;
}
#city27220-l{ /* Logo */
    width: 8%;
    background-color: #660000;
}
