.footer-image {
  --rad-gray: calc(430px + 75px);
  --rad-outer: calc(430px + 200px);
  --debug-padding: 0px;
  --debug-rotate: 0deg;
}

.footer-image > img, .footer-image > div > img{
  position: fixed;
  z-index:  -1;
}

.footer-image > img{
  top:      calc(-700px + var(--debug-padding));
  right:    calc(-650px + var(--debug-padding));
}

@keyframes rotate_move_outer {
  0% { transform: rotate(var(--from)); }
  100% {transform: rotate(var(--to));}
}
@keyframes rotate_move_inner {
  0% { transform: rotate(0deg); }
  100% {transform: rotate(360deg);}
}
@keyframes pos_rotate {
  0% { transform: rotate(60deg); }
  100% { transform: rotate(420deg); }
}
@keyframes neg_rotate {
  0% { transform: rotate(-60deg); }
  100% { transform: rotate(-420deg); }
}
@keyframes rotate {
  0% { transform: rotate(var(--from)); }
  100% {transform: rotate(var(--to));}
}

/*               <div class="outer-div" id="outer1_div">
                <img src="images/outer-satellite-1.svg" id="outer1" class="out-satellite" alt="" width="1600" height="1600">
                <img src="images/outer-satellite-2.svg" id="outer2" class="out-satellite" alt="" width="1600" height="1600">
                <img src="images/outer-satellite-3.svg" id="outer3" class="out-satellite" alt="" width="1600" height="1600">
              </div>
 */


.outer-div{
  position: fixed;
  display:  block ;
  z-index:  -1;
  width:    400px;
  height:   400px;
  transform-origin: var(--rad-outer) center;
  top:    calc(-500px + 600px  - 200px + var(--debug-padding));
  right:  calc(-450px + (600px + 430px) - 200px + var(--debug-padding));
  animation: rotate_move_outer 30s linear infinite;
}
#outer1_div{ --from:-90deg;  --to:270deg; }
#outer2_div{ --from:-210deg; --to:150deg; }
#outer3_div{ --from:-330deg; --to:30deg; }
.out-sate-in1{
  --from:-90deg; --to:270deg;
  animation: rotate 6s linear infinite;
}
.out-sate-in2{
  --from:270deg; --to:-90deg;
  animation: rotate 9s linear infinite;
}
.out-sate-in3{
  --from:-90deg; --to:270deg;
  animation: rotate 18s linear infinite;
}


.inn_div{
  position: fixed;
  display:  block ;
  z-index:  -1;
  width:    150px;
  height:   150px;
  transform-origin: var(--rad-gray) center;
  top:    calc(-500px + 600px  - 75px + var(--debug-padding));
  right:  calc(-450px + (600px + 430px) - 75px + var(--debug-padding));
  animation: rotate_move_outer 40s linear infinite;
}
#inn1_div{ --from:270deg; --to:-90deg; }
#inn2_div{ --from:150deg; --to:-210deg; }
#inn3_div{ --from:30deg;  --to:-330deg; }

.in-satellite{ animation: rotate_move_inner 5s linear infinite; }

.footer-image > #orange{
  animation: pos_rotate 80s linear infinite;
}
.footer-image > #yellow{
  animation: neg_rotate 25s linear infinite;
}
.footer-image > #pink{
  animation: pos_rotate 30s linear infinite;
}
.footer-image > #gray{
  animation: neg_rotate 40s linear infinite;
  rotate: var(--debug-rotate);
}
.footer-image > #outer{
  animation: pos_rotate 30s linear infinite;
  /* rotate: 30deg; */
}

.footer-image > #white{
  opacity:  0.875;
}
