.footer-image {
  --rad-outer:  calc(430px + 200px);
  --debug-padding: 1200px;
  --debug-rotate: 0deg;
  /* --origin-deg: 45deg; */

  --margin_top:   100px;
  --margin_right: 150px;
  position: relative;
}

.footer-image > img, .footer-image > div, .footer-image > div > img{
  position: fixed;
  z-index:  -1;
  rotate: calc(var(--origin-deg) + var(--debug-rotate));
}

.footer-image > div{
  height: var(--height);
  width:  var(--width);
  top:    calc(var(--margin_top) - var(--height)/2 + var(--debug-padding));
  right:  calc(var(--margin_right) - var(--width)/2 + var(--from_center) + var(--debug-padding));
  --padding: calc(var(--from_center) + var(--satellite_radius));   /* only --margin_top and --margin_right ... just upper_right corner is center of the images. */
  transform-origin: var(--padding) center;
}

.footer-image > #l0_orange, #l0_orange_white, #l0_yellow, #l0_pink, #layer_1, #layer_2, #l2_white{
  --height: 1600px;
  --width:  1600px;
  height: var(--height);
  width:  var(--width);
  top:    calc(var(--margin_top) - var(--height)/2  + var(--debug-padding));
  right:  calc(var(--margin_right) - var(--width)/2  + var(--debug-padding));
}

.footer-image > #white, #layer_3, #layer_4_1, #layer_4_2, #layer_4_white{
  --height: 2500px;
  --width:  2500px;
  height: var(--height);
  width:  var(--width);
  top:    calc(var(--margin_top) - var(--height)/2  + var(--debug-padding));
  right:  calc(var(--margin_right) - var(--width)/2  + var(--debug-padding));
}

.footer-image > #layer_3_white{
  --height: 4000px;
  --width:  4000px;
  height: var(--height);
  width:  var(--width);
  top:    calc(var(--margin_top) - var(--height)/2  + var(--debug-padding));
  right:  calc(var(--margin_right) - var(--width)/2  + var(--debug-padding));
}


@keyframes pos_rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes neg_rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
@keyframes rotate {
  0% { transform: rotate(var(--from)); }
  100% {transform: rotate(var(--to));}
}

@keyframes line {
  0% { transform: translateX(0px) rotate(var(--reverse)); }
  100% {transform: translateX(var(--line_move_end)) rotate(var(--reverse));}
}

.layer_4_line_img{
  position: absolute;
  animation: line 1s cubic-bezier(0.35, 0, 0.65, 1) infinite;
}

.layer_4_sate_line{
  display: block;
  --width: calc(3000px/2);
  --height: calc(770px/2);
  /* height = 385px */
  --from_center: 900px;
  --satellite_radius: calc(var(--width) / 2);
  /* z-index:30 !important; */
  animation: rotate 240s linear infinite;
  /* background-color:red; */
}

#l4_l_s1{ --from:450deg; --to: 90deg; }
#l4_l_s2{ --from:570deg; --to:210deg; }
#l4_l_s3{ --from:690deg; --to:330deg; }

.layer_4_line1_img{
  right: 0px;
  --line_move_end: 240px
}
.line1_r{
  top: 10px;
  --reverse: 0deg;
}
.line1_l{
  bottom: 10px;
  --reverse: 180deg;
}

.layer_4_line2_img{
  right: 0px;
  --line_move_end: -160px
}
.line2_r{
  top: 60px;
  --reverse: 0deg;
}
.line2_l{
  bottom: 60px;
  --reverse: 180deg;
}

.layer_4_line3_img{
  --line_move_end: -160px
}
.line3_r{
  top: 100px;
}
.line3_l{
  bottom: 100px;
}

.layer_4_line4{
  position: absolute;
  width: 1300px;
  height: 5px;
  /* background-color: #3FBFD2; */
  background-color: #FFFFFFFF;
}
#line4_1{ top:     95px; }
#line4_2{ bottom:  95px; }
#line4_3{ top:    130px; }
#line4_4{ bottom: 130px; }

@keyframes shine{ 100% { left: 125%; } }

.layer_4_line4_color {
  position: absolute;
  top: 0;
  left: -20%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, #3FBFD240 0%, #3FBFD2FF 5%, #3FBFD200 100%);
}

.color_run{
  animation: shine 3s;
}



.layer4_line_satellite{
  position: absolute;
  height: 185px;
  width: 185px;
  right: calc(800px - (370px)/4);
  top:  calc((770px/2)/2 - (370px)/4);
}


.layer4_line_satellite > img{
  position: absolute;
  /* top:0px;
  right:0px; */
  animation: var(--dir) var(--rotate_time) linear infinite;
}
.layer4_line_satellite_img1{
  --dir: pos_rotate;
  --rotate_time: 12s;
}
.layer4_line_satellite_img2{
  --dir: neg_rotate;
  --rotate_time: 16s;
}

.layer_4_sate{
  --size: 800px;
  height: var(size);
  width:  var(size);
  display: block;

  position: absolute;
  --top: 175px;
  top: var(--top);
  left: calc(var(--size) / 2);

  transform-origin: 400px calc(var(--size) - var(--top));
}
.l4_img1{
  animation: neg_rotate 8s linear infinite;
}

.layer_3_sate{
  display: block;
  --height: 1600px;
  --width:  1600px;
  --from_center: calc(2485px / 2);   /* This value is the HALF of the distance between the origin of images and the CENTER of satellite */
  --satellite_radius: 800px;  /* This is the HALF of the distance between the center of the satellite and OUTER EDGE of outer circle  */
  animation: rotate 240s linear infinite;
}
.l3_img1, .layer_4_sate{
  animation: pos_rotate 20s linear infinite;
}
#l3_s1{ --from:390deg; --to: 30deg; }
#l3_s2{ --from:510deg; --to:150deg; }
#l3_s3{ --from:630deg; --to:270deg; }


.layer_2_sate{
  --height: 400px;
  --width:  400px;
  --from_center: 430px;   /* This value is the HALF of the distance between the origin of images and the CENTER of satellite */
  --satellite_radius: 200px;  /* This is the HALF of the distance between the center of the satellite and OUTER EDGE of outer circle  */
  animation: rotate 30s linear infinite;
}
#l2_s1{ --from:-30deg;  --to:330deg; }
#l2_s2{ --from: 90deg;  --to:450deg; }
#l2_s3{ --from:210deg;  --to:570deg; }
.l2_img1{
  --from:0deg; --to:360deg;
  animation: rotate 6s linear infinite;
}
.l2_img2{
  --from:270deg; --to:-90deg;
  animation: rotate 9s linear infinite;
}
.l2_img3{
  --from:0deg; --to:360deg;
  animation: rotate 18s linear infinite;
}


.layer_1_sate{
  --height: 150px;
  --width:  150px;
  --from_center: 430px;   /* This value is the HALF of the distance between the origin of images and the CENTER of satellite */
  --satellite_radius: 75px;  /* This is the HALF of the distance between the center of the satellite and OUTER EDGE of outer circle  */
  animation: rotate 40s linear infinite;
}
#l1_s1{ --from:330deg; --to:-30deg; }
#l1_s2{ --from:450deg; --to: 90deg; }
#l1_s3{ --from:570deg; --to:210deg; }
.l1_img{
  animation: pos_rotate 5s linear infinite;
}


.footer-image > #white{
  opacity:  0;
  /* opacity:  0.875; */
}

.footer-image > #l0_orange, #l0_orange_white{
  animation: pos_rotate 60s linear infinite;
}
.footer-image > #l0_yellow{
  animation: neg_rotate 20s linear infinite;
}
.footer-image > #l0_pink{
  animation: pos_rotate 30s linear infinite;
}
.footer-image > #layer_1{
  animation: neg_rotate 40s linear infinite;
}
.footer-image > #layer_2{
  animation: pos_rotate 30s linear infinite;
}

.footer-image > #layer_3,  #layer_4_white{
  animation: neg_rotate 240s linear infinite;
  /* rotate: 90deg; */
}

.footer-image > #layer_4_1{
  animation: pos_rotate 18s linear infinite;
}
.footer-image > #layer_4_2{
  animation: neg_rotate 18s linear infinite;
}

.white_cover{
  /* display: none; */
}
